pkgbase = adhan-reminder
	pkgdesc = Auto Adhan reminder with live console display
	pkgver = 1.0.0
	pkgrel = 1
	arch = any
	license = MIT
	depends = python
	depends = python-requests
	depends = mpg123
	depends = libnotify
	optdepends = ffmpeg: alternative audio player
	optdepends = mpv: alternative audio player
	source = adhan-live.py
	source = a1.mp3
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = adhan-reminder
